<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Username - Dashboard</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/new_navbar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/search-fliter.css">
    <link rel="stylesheet" href="/css/fix_budget.css" />
    <link rel="icon" href="/images/hh-favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <div class="nav-landing">
            <nav class="navbar navbar-expand-lg navbar-light" id="navbar-landing" style="
            position: fixed;
            width: 100vw !important;
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
          ">
                <div id="navbar-container" class="container-fluid navbar-container-unscrolled">
                    <a class="navbar-brand" href="/">
                        <img src="/images/logo.svg" alt="Health Highway Logo" />
                        <div class="logo-text">
                            <span style="color: #4ca9ee" class="logo-span">Health</span>
                            <span style="color: #29e7cd" class="logo-span"> Highway</span>
                        </div>
                    </a>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ml-auto">
                            <li style="margin-right: 40px" class="nav-item">
                                <a href="https://blogs.healthhighway.co.in/" style="cursor: pointer;"
                    class="nav-link">Blogs</a>
                            </li>
                        </ul>
                    </div>
                      <button
                          id="landing-joinus"
                          type="button"
                          class="btn btn-light"
                          onclick="location.href='/logout'"
                        >
                          Log Out
                      </button>
                </div>
            </nav>
          </div>
    </header>
    <main>
        <div class="fixed-budget-con">
            <div class="fixed-budget">
                <h3>My Sessions</h3><br><br>
            </div>
            <div class="fix-grp-card-container">
                <% GROUP.forEach(session => { %>
                        <div style="cursor: pointer;" onclick="location.href='/live-class/<%= session.VIDEO_CHANNEL%>'" class="new-grp-card">
                            <img src=<%= session.IMG %> alt="" style="width:100%; height:auto" />
                            <div class="grp-card-txt">
                            <div class="card-title">
                                <h3><%= session.SESSION_NAME %></h3>
                                <p>by <%= session.TNAME %></p>
                            </div>
                            <div class="session-time">
                                <p><%= session.TIME %></p>
                            </div>
                            </div>
                        </div>
                <% }) %>
            </div>
        </div>
    </main>

    <section class="download-app">
        <h2 id="download-app-heading">
          Download <span>Health</span>
          <span class="highway-spn">Highway</span> App
        </h2>
        <div class="download-img">
          <img src="images/dwnld-app.svg" alt="" />
        </div>
        <p>For enhanced experience on your mobile phone</p>
        <a href="#" class="download-now-btn">Download Now</a>
      </section>

                
                <script type="text/javascript" src="/js/landing.js"></script>
</body>

</html>