<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/new_navbar.css">
    <link rel="stylesheet" href="/css/freeYoga/landingDiv.css">
    <link rel="stylesheet" href="/css/freeYoga/details.css">
    <link rel="stylesheet" href="/css/freeYoga/call.css">
    <link rel="stylesheet" href="/css/login.css" />      
    <link rel="stylesheet" href="/css/main.css" />      
    <title>Health Highway | Your Yoga Buddy</title>
    <link rel="icon" href="/images/hh-favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <%- include("partials/navbar") %>
    </header>
    <main>
        <!-- landing -->
        <div id="detailed-landing-main-div">
            <div class="detailed-landing-main-left">
                <p class="title-para"><span class="title"><%= session.SESSION_NAME %> </span><span class="sub-title"></span>by <%= session.TNAME %></span></p>
                <div class="points-div">
                    <div class="points-top">
                        <div class="points-common">
                            <div class="points">
                                <div>
                                    <p class="rupees">₹</p>
                                </div>
                                <p class="points-text"><%= session.PRICE %> INR <span>Per Month</span></p>
                            </div>
                            <div class="points">
                                <div><img src='/images/calendar.png'></div>
                                <p class="points-text">Every <%= session.DAYS.toString() %></p>
                            </div>
                            <div class="points">
                                <div><img src='/images/Clock.png'></div>
                                <p class="points-text"><%= session.TIME %></p>
                            </div>
                            <div class="points">
                                <div><img src='/images/Duration.png'></div>
                                <p class="points-text">45 Minutes</p>
                            </div>
                            <div class="points">
                                <div><img src='/images/Graph.png'></div>
                                <p class="points-text"><%= session.LEVEL %> Level</p>
                            </div>
                            <div class="points">
                                <div><img src='/images/people.png'></div>
                                <p class="points-text"><%= session.PARTICIPANTS %> People </p>
                            </div>
                        </div>
                    </div>
                    <div class="points-bottom">
                        <p class="points-title"><img style="margin-right: 20px;" src='/images/right.png'>Suitable/ Beneficial for these people</p>  
                        <div class="points-recommended">
                            <% session.FP.forEach(fp => { %>
                                <p class="points-text points"><%= fp %></p>
                            <% }) %> 
                        </div>
                        <p class="points-title"><img style="margin-right: 20px;" src='/images/wrong.png'>Not advisable for these People</p> 
                        <div class="points-not-recommended">
                            <% session.NFP.forEach(nfp => { %>
                                <p class="points-text points"><%= nfp %></p>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detailed-landing-main-right">
                <div class="slides fade" style="overflow: hidden;border-radius: 10px;">
                    <img src=<%= session.IMG %> style="object-fit : cover" >
                </div><br><br>
                <div class="enroll-div">
                    <% if(session.PARTICIPANTS >= session.LIMIT){ %>
                        <a style="cursor: pointer;" class="enroll-btn" >Overbooked</a>
                    <% }else { %> 
                        <a style="cursor: pointer;" class="enroll-btn" onclick="bookGroupSession()" >Enroll For Free</a>
                    <% } %>
                    <a href="/1-on-1-Pricing-Plan" class="personalisation-text">Want Personalisation ?</a>
                </div>
            </div>
        </div>
        <!-- landing (END)-->

        <script>
            const bookGroupSession = async () => {
                const _id = '<%- _id %>';
                if(_id.length == 0)
                {
                    infoShow("/images/notLoggedInfo.svg", "Please login before booking Session");
                }
                else
                {
                    var old_group = <%- JSON.stringify(GROUP) %>;
                    console.log(old_group);
                    var present = false;
                    old_group.forEach(data => {
                        if(data.GRPID === '<%- session._id %>'){
                            present = true;
                        }
                    })
                    if(present)
                    {
                        infoShow("/images/alreadyBookedInfo.svg", "Relax! Your Session is Booked Already");
                    }
                    else
                    {
                        const response = await fetch("/create-group", {
                            method  :"POST",
                            mode : "same-origin",
                            headers : {
                            'Content-type' : 'application/json'
                            },
                            body : JSON.stringify({GRPID : '<%- session._id %>', USERID : '<%- _id %>', STARTING_DATE : new Date().toString()})
                        });
                        const decode = await response.json();
                        console.log(decode);
                        if(decode.verified)
                        {
                            infoShow("/images/sessionBooked.svg", "Hurray! Session Booked");
                        }
                        else
                        {
                            infoShow("/images/notLoggedInfo.svg", "Oops! Some Network issue, please try later");
                        }
                        location.reload();
                    }
                    
                }
            }
        </script>

        <div class="instructor-div">
            <div class="trainer">
                <img src="/images/yogaInstructor.png" alt="trainer" style="margin-right: 20px;"/>
                <div class="trainer-details">
                    <p style="text-align: start;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 14px; line-height: 22px; color: #716E6E;">Trainer</p>
                    <p style="text-align: start;font-family: Montserrat; font-style: normal; font-weight: normal; font-size: 16px; line-height: 22px; color: #4CA9EE;"><%= session.TNAME %></p>
                </div>
            </div>
            <img src="/images/like.png" alt="like" style="width: 28px; height: 25px"/>
        </div>

        <div class="page-navbar">
            <p class="navbar-option active-option" id="overview">Overview</p>
            <p class="navbar-option" id="about">About</p>
            <p class="navbar-option" id="benefits">Benefits</p>
        </div>

        <div id="overview-div">
            <div class="points-top">
                <div class="points-common">
                    <div class="points">
                        <div>
                            <p class="rupees">₹</p>
                        </div>
                        <p class="points-text"><%= session.PRICE %> INR <span>Per Month</span></p>
                    </div>
                    <div class="points">
                        <div><img src='/images/calendar.png'></div>
                        <p class="points-text">Every <%= session.DAYS.toString() %></p>
                    </div>
                    <div class="points">
                        <div><img src='/images/Clock.png'></div>
                        <p class="points-text"><%= session.TIME %></p>
                    </div>
                    <div class="points">
                        <div><img src='/images/Duration.png'></div>
                        <p class="points-text">45 Minutes</p>
                    </div>
                    <div class="points">
                        <div><img src='/images/Graph.png'></div>
                        <p class="points-text"><%= session.LEVEL %> Level</p>
                    </div>
                    <div class="points">
                        <div><img src='/images/people.png'></div>
                        <p class="points-text"><%= session.PARTICIPANTS %> People </p>
                    </div>
                </div>
                
            </div>
            <div class="points-bottom">
                <p class="points-title"><img style="margin-right: 20px;" src='/images/right.png'>Suitable/ Beneficial for these people</p>  
                <div class="points-recommended">
                    <% session.FP.forEach(fp => { %>
                        <p class="points-text points"><%= fp %></p>
                    <% }) %> 
                </div>
                <p class="points-title"><img style="margin-right: 20px;" src='/images/wrong.png'>Not advisable for these People</p> 
                <div class="points-not-recommended">
                    <% session.NFP.forEach(nfp => { %>
                        <p class="points-text points"><%= nfp %></p>
                    <% }) %>
                </div>
            </div>
            <div style="margin: 32px 8vw 0 8vw;">
                <p class="about-title">Overview</p>
                <p class="about-content"><%= session.ABOUT %></p>
            </div>
        </div>

        <div class="details-div">
        <!-- about -->
        <div id="about-div">
                <p class="about-title">About the Session </p>
                <p class="about-content"><%= session.ABOUT %></p>
                <div class="about-sub-div">
                    <p class="about-sub-title">Main Practices</p>
                    <ol type="1">
                        <li>Malasana Lateral Stretch + Twist</li>
                        <li>Sivananda Surya Namaskar x 3 Rounds</li>
                        <li>Uttana Pristhasana + Twist</li>
                        <li>Prasarita Padottanasana C</li>
                        <li>Ardha Shalabhasana</li>
                        <li>Supta Virasana</li>
                        <li>Gomukasana Fold Forward + Twist</li>
                        <li>Kandharasana</li>
                        <li>Nadi Shodhan Pranayama</li>
                        <li>AUM Chanting</li>
                    </ol>
                    <p class="about-sub-title">Benefits</p>
                    <ol type="1">
                        <li>Malasana Lateral Stretch + Twist</li>
                        <li>Sivananda Surya Namaskar x 3 Rounds</li>
                        <li>AUM Chanting</li>
                        <li>Supta Virasana</li>
                        <li>Gomukasana Fold Forward + Twist</li>
                        <li>Kandharasana</li>
                        <li>Nadi Shodhan Pranayama</li>
                        <li>AUM Chanting</li>
                    </ol>
                </div>
        </div>
        
        <div id="about-mobile-div">
            <p class="about-title">About the Session </p>
            <p class="about-content"><%= session.ABOUT %></p>
            <div class="about-sub-div">
                <p class="about-sub-title">Main Practices</p>
                <ol type="1">
                    <li>Malasana Lateral Stretch + Twist</li>
                    <li>Sivananda Surya Namaskar x 3 Rounds</li>
                    <li>Uttana Pristhasana + Twist</li>
                    <li>Prasarita Padottanasana C</li>
                    <li>Ardha Shalabhasana</li>
                    <li>Supta Virasana</li>
                    <li>Gomukasana Fold Forward + Twist</li>
                    <li>Kandharasana</li>
                    <li>Nadi Shodhan Pranayama</li>
                    <li>AUM Chanting</li>
                </ol>
            </div>
        </div>
        <div id="benefits-mobile-div">
            <p class="about-sub-title">Benefits</p>
                    <ol type="1">
                        <li>Malasana Lateral Stretch + Twist</li>
                        <li>Sivananda Surya Namaskar x 3 Rounds</li>
                        <li>AUM Chanting</li>
                        <li>Supta Virasana</li>
                        <li>Gomukasana Fold Forward + Twist</li>
                        <li>Kandharasana</li>
                        <li>Nadi Shodhan Pranayama</li>
                        <li>AUM Chanting</li>
                    </ol>
        </div>
        <img src="/images/detailImg.svg" />
        <!-- about (END) -->
        </div>

               <!-- Call-Us Section  -->
               <%- include('partials/callback') %>
            <!-- Call-Us Section (END) -->

                  <!-- login div -->
                  <%- include('partials/login-form') %>
                <!-- login div (END) -->

                
            
    </main>
    <script type="text/javascript" src="/js/landing.js"></script>
    <script type="text/javascript" src="/js/slider.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/detailed-page-navbar.js"></script>
    <script type="text/javascript" src="/js/info.js"></script>
</body>

</html>