<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/new_navbar.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/footer_old.css" />
    <link rel="stylesheet" href="/css/landing-animation.css">
    <title>Health Highway | Your Yoga Buddy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <style>
        @media only screen and (max-width: 500px) {
        #recaptcha-verifier {
            transform:scale(0.8);-webkit-transform:scale(0.8);align-self: center!important;
        }
        }
    </style>
</head>

<body>
    <header>
        <%- include("partials/navbar") %>
    </header>
    <main>
        <!-- landing -->
        <div id="landing-main-div">
            <div class="landing-main-center">
                <p class="landing-main-text1">Live Yoga Classes</p>
                <p class="landing-main-text2">From world yoga capital to your home</p>
                <a class="landing-main-button desktop" href="#get-started-section">Get Started</a>
            </div>
            <div class="animation-container">
                <div class="animation_left"></div>
                <div class="animation_middle">
                  <div class="middle-line"></div>
                </div>
                <div class="animation_right"></div>
              </div>
              <script src="./landing-animation.js"></script>
            <div class="landing-container"></div>
            <div class="mobile-animation">
             <img src="images/landing-animation.gif" />   
            </div>
        </div>
        <!-- landing (END)-->

        <!-- know more div (START) --> 
        <div class="know-more-div">
            <a class="landing-main-button mobile" href="#get-started-section">Get Started</a>
            <p style="text-align: center"><a href="#usp" class="know-more">Know More</a></p>
            <p style="text-align: center"><a href="#usp" class="know-more"><i class="fa fa-arrow-down"></i></a></p>
        </div>
        <!-- know more div (END) -->

        <!-- About-Us Section (START) -->
        <section id="about-us" class="about-us-section">
            <h2 class="about-us-heading">
                <span>“</span><span style="color: #4CA9EE;" >Train</span> with the Best, <span style="color: #29E7CD">Forget</span> the Rest
                <span>”</span>
            </h2>
            <div class="border"></div>
            <p class="about-us-content">
                Our platform connects high-spirited, devoted yogis with users who aspire to inculcate yoga in their daily lifestyle. We have a conviction that there should be no compromise when it comes to the well being of a individual. Health Highway is a private tutor for yoga, providing reliable and efficient solutions to ease your lifestyle requirements by tailoring them to your needs, your time and your lifestyle.
            </p>
        </section>
        <!-- About-Us Section (END) -->

        <!-- USP Section (START) -->
        <section id="usp" class="usp-section">
            <div class="usp-one">
                <img src="/images/newUsp1.svg" alt="yoga for everyone" />
                <div class="left-item">
                    <h3 class="usp-heading">Yoga for <span>Everyone</span></h3>
                    <p class="usp-content">
                        Why should there be any barrier when it comes to taking care of your health? Children, pregnant women, senior citizens we have Yoga routines for all!
                    </p>
                </div>
            </div>
            <div class="usp-two">
                <img src="/images/newUps2.svg" alt="yoga for everything" />
                <div class="right-item">
                    <h3 class="usp-heading">Yoga for <span>Everything</span></h3>
                    <p class="usp-content">
                        Discover Yoga routines tailored for your lifestyle and needs, be it a routine to boost your fitness, a remedy to manage diabetes or to learn a new fancy yoga pose. Here lies the answer to all your Yoga needs!
                    </p>
                </div>
            </div>
            <div class="usp-three">
                <img src="/images/newUsp3.svg" alt="yoga for everytime" />
                <div class="left-item">
                    <h3 class="usp-heading">Yoga for <span>Everytime</span></h3>
                    <p class="usp-content">
                        Not a morning person, no issues! No need to compromise on your health for the sake of your morning meeting. Choose from many session timings according to your comfort and schedule.
                    </p>
                </div>
            </div>
        </section>
        <!-- USP Section (END) -->

        <!-- VIdeo Section -->
        
        <%- include('partials/video') %>
      <!-- VIdeo Section (END) -->

      <!-- Get Started -->
      <section class="get-started" id="get-started-section">
        <h2 class="get-started-heading">Take your <span>First Step</span></h2>
        <div class="get-started-grid">

            <div class="private-sessions ">
                <h4 class="gs-item">Private Sessions</h4>
                <div class="item-border"></div>

                <div class="perks-img-grid">
                    <div class="perks">
                        <h4 class="img-replacement">"I walk a lonely road..."</h4>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Marked Attention</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Choice of Instructor</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Tailored to your lifestyle</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">For your pace and space</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Book whenever you want</p>
                    </div>
                    <div class="gs-img"><img src="/images/pvt_ssn.png" width="100%" alt=""></div>
                </div>
                <a href="/1-on-1-Pricing-Plan" class="get-started-btn">Get Started</a>
            </div>

            <!-- Group session -->
            <div class="group-sessions ">
                <h4 class="gs-item">Group Sessions</h4>
                <div class="item-border"></div>

                <div class="perks-img-grid">
                    <div class="gs-img"><img src="/images/grp_ssn.png" alt=""></div>
                    <div class="perks">
                        <h4 class="img-replacement">"Ek or Ek Bane Gyarah"</h4>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Make friends, 'Pose' together</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Choice of Instructor</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Timing as per class schedule</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Choice of group</p>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path id="tick"
                            d="M10.9999 21.1996L6.7999 16.9996L5.3999 18.3996L10.9999 23.9996L22.9999 11.9996L21.5999 10.5996L10.9999 21.1996Z"
                            fill="#ffffff" />
                    </svg>
                        <p class="perqs">Group activities and challenges</p>
                    </div>

                </div>

                <a href="/Group-Yoga-Classes" class="get-started-btn">Get Started</a>
            </div>
        </div>
      </section>
        <!-- Get Started (END) -->

        <!-- Events -->
        
        
        <!-- Events (END) -->

        <!-- Download app -->

        <section class="download-app">
            <h2 id="download-app-heading">Download <span>Health</span> <span class="highway-spn">Highway</span> App</h2>
            <div class="download-img">
                <img src="https://raw.githubusercontent.com/vxdhu/Healthhighway-Compiled/main/images/dwnld-app.png" alt="">

            </div>
            <p>For enhanced experience on your mobile phone</p>
            <!-- <a href="#" class="download-now-btn">Download Now</a> -->
        </section>

        <!-- Download app (END)-->

        <!-- Testimonials -->

        <%- include('partials/testimonials') %>


        <!-- Call-Us Section  -->
        <%- include('partials/callback') %>
        <!-- Call-Us Section (END) -->

        <!-- login div -->
        <%- include('partials/login-form') %>
        <!-- login div (END) -->

    </main>

    <script type="text/javascript" src="/js/event.js"></script>
    <script type="text/javascript" src="/js/landing.js"></script>
    <script type="text/javascript" src="/js/get-started.js"></script>
    <script src="/js/video-component.js"></script>
    <script src="/js/landing-animation.js"> </script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>

</html>