<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link rel="stylesheet" href="/css/tavo-calendar.css" />
    <link rel="stylesheet" href="/css/pricing.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/new_navbar.css" />
    <link rel="stylesheet" href="/css/fix_budget.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/onSiteForm.css" />
    <link rel="stylesheet" href="/css/search-fliter.css">
    <link rel="icon" href="/images/hh-favicon.png">
    <title>Health Highway | Pricing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
</head>

<body>
    <header>
        <%- include("partials/navbar") %>
    </header>
    <main>
        <!-- Pricing Section (Start) -->
        <div class="price-container">
            <div class="price-heading">
                <h2>Simple, Transparent Pricing</h2>
                <p>Private Yoga Classes</p>
            </div>
            <div class="pricing-main">
                <div class="price-benifits">
                    <h3>100% Yoga | 0% Anything Else</h3>
                    <ul class="benifit-items-container">
                        <li class="benifit-item">
                            <h4>Private Instructor</h4>
                            <img src="/images/Blue Tick.svg" alt="" />
                        </li>
                        <li class="benifit-item">
                            <h4>Choice of Instructor (Male/Female)</h4>
                            <img src="/images/Blue Tick.svg" alt="" />
                        </li>
                        <li class="benifit-item">
                            <h4>Choice of Timings</h4>
                            <img src="/images/Blue Tick.svg" alt="" />
                        </li>
                        <li class="benifit-item">
                            <h4>Best Results</h4>
                            <img src="/images/Blue Tick.svg" alt="" />
                        </li>
                        <li class="benifit-item">
                            <h4>Choice of Timings</h4>
                            <img src="/images/Blue Tick.svg" alt="" />
                        </li>
                    </ul>
                    <button class="addtocart" onclick="addToCart()" style="cursor: pointer;">
                        <h2>Add to cart</h2>
                        <img src="/images/newcart.svg" alt="" />
                    </button>
                    <div class="desktop-link">
                      <a style="cursor:pointer" onclick="scrolltofunc('fixed-budget-private-section')" > <h4 >Have fixed budget ?</h4></a> 
                    </div>
                    
                </div>
                <div class="session-and-button">
                    <div class="session-container">
                        <div class="session-item">
                            <label id="single" class="p-label">
                                <input type="radio" for="single" name="plan" value="1" />
                                <span class="checkmark"><img src="/images/tick-circle.svg" alt="" /></span>
                            </label>
                            <div class="session-title">
                                <h2>Single session</h2>
                            </div>
                            <div class="session-price">
                                <h3>INR <span>150</span></h3>
                            </div>
                        </div>
                        <div class="session-item">
                            <label id="single" class="p-label">
                                <input type="radio" for="16session" name="plan" value="16" />
                                <span class="checkmark"><img src="/images/tick-circle.svg" alt="" /></span>
                            </label>
                            <div class="session-title">
                                <h2>Yoga Fun</h2>
                                <h3>16 Sessions</h3>
                            </div>
                            <div class="session-price">
                                <p>2400</p>
                                <h3>INR <span>2149</span></h3>
                            </div>
                        </div>
                        <div class="session-item">
                            <label id="single" class="p-label">
                                <input type="radio" for="16session" name="plan" value="20" />
                                <span class="checkmark"><img src="/images/tick-circle.svg" alt="" /></span>
                            </label>
                            <div class="session-title">
                                <h2>Yoga Buff</h2>
                                <h3>20 Sessions</h3>

                            </div>
                            <div class="session-price">
                                <p>3000</p>
                                <h3>INR <span>2449</span></h3>
                            </div>
                        </div>
                        <div class="session-item">
                            <label id="single" class="p-label">
                                <input type="radio" for="16session" name="plan" value="24" />
                                <span class="checkmark"><img src="/images/tick-circle.svg" alt="" /></span>
                            </label>
                            <div class="session-title">
                                <h2>Yoga Addict</h2>
                                <h3>24 Sessions</h3>

                            </div>
                            <div class="session-price">
                                <p>3600</p>
                                <h3>INR <span>2849</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="cart-link">
                        <button class="addtocart" onclick="addToCart()" style="cursor:pointer" >
                            <h2>Add to cart</h2>
                            <img src="/images/newcart.svg" alt="" />
                        </button>
                        <a style="cursor:pointer" onclick="scrolltofunc('fixed-budget-private-section')"  >Fixed budget ?</a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var priceMap = {
                "1" : "150",
                "16" : "2149",
                "20" : "2449",
                "24" : "2849"
            }
            const addToCart = () => {
                const _id = '<%- _id %>';
                if(_id.length == 0)
                {
                    infoModalOpenFunction("/images/notLoggedInfo.svg", "Please login before booking Session");
                }
                else
                {
                    var checked = "";
                    var ele = document.getElementsByName('plan');
                    for(i = 0; i < ele.length; i++) {
                        if(ele[i].checked)
                        {
                            checked = ele[i].value;
                            break;
                        }
                    }
                    if(checked.length === 0){
                        infoModalOpenFunction("/images/notLoggedInfo.svg", "Please Choose a Session Package");
                    }
                    else
                    {
                        // alert(checked)
                        window.HH_nosmap = {
                            noc : checked,
                            price : priceMap[checked]
                        }
                        location.href='#onSiteForm'
                        document.querySelector('.container-for-form').classList.add('active')
                        main_form.style.display = "grid"
                    }
                }
            }
        </script>

        <!-- Pricing Section (End) -->
        <!-- Pricing Section (End) -->

        <!-- Onsite Form -->
        <div class="container-for-form">
            <section id="onSiteForm" class="os-form">
                <div class="close-next-btns">
                    <button class="osf-back-button"><img src="/images/arrow.png" alt="">
                    </button>
                    <div class="step-counter">
                        <p class="step-count">Step <span id="step">1</span> of <span id="total-steps">9</span></p>
                    </div>
                    <button class="osf-close-button"><img src="https://github.com/vxdhu/Healthhighway-Compiled/blob/main/images/close_btn.png?raw=true" alt="">
                    </button>
                </div>



                <div class="gif-and-content-grid">
                    <div class="osf-content active-state" id="choose-service">
                        <h3 class="osf-heading">Tell us about your Goals</h3>
                        <button class="osf-button osf-service" onclick="problem = 'Fitness'">Fitness</button>
                        <button class="osf-button osf-heal">Heal Ailments</button>
                        <button class="osf-button osf-service" onclick="problem = 'Mindfullness'">Mindfullness</button>
                        <button class="osf-button osf-service" onclick="problem = 'Advanced Yoga'">Advanced
                            Yoga</button>

                    </div>

                    <div class="osf-content " id="choose-ailment">
                        <h3 class="osf-heading">Select a particular ailment</h3>
                        <div class="buttttons">
                            <button class="osf-button osf-ail" onclick="problem = 'Diabetes'">Diabetes</button>
                            <button class="osf-button osf-ail" onclick="problem = 'Hypertension'">Hypertension</button>
                            <button class="osf-button osf-ail" onclick="problem = 'Eye Problems'">Eye Problems</button>
                            <button class="osf-button osf-ail" onclick="problem = 'Bone & Joint Pain'">Bone & Joint
                                Pain</button>
                            <button class="osf-button osf-ail" onclick="problem = 'Thyroidism'">Thyroidism</button>
                            <button class="osf-button osf-ail" onclick="problem = 'Breathing Issues'">Breathing
                                Issues</button>
                            <button class="osf-button osf-ns">Not Sure</button>
                        </div>
                    </div>

                    <div class="osf-content " id="not-sure">
                        <h3 class="osf-heading ">Please type your problem/Goal</h3>
                        <form action="#" class="osf-form-problem">
                            <input type="text" placeholder="Your problem..." required id="osf-problem">
                            <p id="osf-invalid-problem">Please provide your problem.</p>
                            <button class="osf-button">Next</button>
                        </form>
                    </div>

                    <div class="osf-content " id="basic-info">
                        <h3 class="osf-heading ">Basic Information</h3>
                        <form action="#" class="osf-form-basicinfo">
                            <div class="name-div">
                                <label for="name_input">Your Name</label>
                                <input type="text" placeholder="Name..." id="osf-name" required>
                                <p id="osf-invalid-name">Please enter name.</p>
                            </div>
                            <div class="age-div">
                                <label for="age_input">Your Age</label>
                                <input type="text" placeholder="Age..." id="osf-age" required inputmode="numeric">
                                <p id="osf-invalid-age">Please enter age.</p>
                            </div>

                            <button class="osf-button">Next</button>
                        </form>
                    </div>

                    <div class="osf-content " id="provide-contact">
                        <h3 class="osf-heading ">Basic Information</h3>
                        <form action="#" class="osf-form-contact">
                            <div class="weight-div">
                                <label for="age_input">Weight (in Kgs)</label>
                                <input type="text" placeholder="Weight..." id="osf-weight" required inputmode="numeric">
                                <p id="osf-invalid-weight">Please enter weight.</p>
                            </div>
                            <div class="height-div">
                                <label for="age_input">Height (in cms)</label>
                                <input type="text" placeholder="Height..." id="osf-height" required>
                                <p id="osf-invalid-height">Please enter height.</p>
                            </div>
                            <p class="pref">Preferred Trainer</p>
                            <div class="pref-div">
                                <input type="radio" id="radio1" name="trainer" value="Male" checked>
                                <label for="radio1">Male</label>
                                <input type="radio" id="radio2" name="trainer" value="Female">
                                <label for="radio2">Female</label>
                            </div>
                            <button class="osf-button">Next</button>
                        </form>
                    </div>

                    <div class="osf-content " id="choose-timing">
                        <h3 class="osf-heading ">Choose a time slot</h3>
                        <form class="time-grid">
                            <input type="radio" id="t1" name="timing" value="6:00 AM" required>
                            <label for="t1">6 AM</label>
                            <input type="radio" id="t2" name="timing" value="7:00 AM">
                            <label for="t2">7 AM</label>
                            <input type="radio" id="t3" name="timing" value="8:00 AM">
                            <label for="t3">8 AM</label>
                            <input type="radio" id="t4" name="timing" value="9:00 AM">
                            <label for="t4">9 AM</label>
                            <input type="radio" id="t5" name="timing" value="4:00 PM">
                            <label for="t5">4 PM</label>
                            <input type="radio" id="t6" name="timing" value="5:00 PM">
                            <label for="t6">5 PM</label>
                            <input type="radio" id="t7" name="timing" value="6:00 PM">
                            <label for="t7">6 PM</label>
                            <input type="radio" id="t8" name="timing" value="7:00 PM">
                            <label for="t8">7 PM</label>
                            <input type="radio" id="t9" name="timing" value="8:00 PM">
                            <label for="t9">8 PM</label>

                            <button class="osf-button">Next</button>
                        </form>
                    </div>

                    <div class="osf-content " id="choose-days">
                        <h3 class="osf-heading ">Your Fitness Routine</h3>

                        <form class="day-grid">
                            <input type="checkbox" id="day1" name="days" value="Mon">
                            <label for="day1">Mon</label>
                            <input type="checkbox" id="day2" name="days" value="Tue">
                            <label for="day2">Tue</label>
                            <input type="checkbox" id="day3" name="days" value="Wed">
                            <label for="day3">Wed</label>
                            <input type="checkbox" id="day4" name="days" value="Thu">
                            <label for="day4">Thu</label>
                            <input type="checkbox" id="day5" name="days" value="Fri">
                            <label for="day5">Fri</label>
                            <input type="checkbox" id="day6" name="days" value="Sat">
                            <label for="day6">Sat</label>
                            <input type="checkbox" id="day7" name="days" value="Sun">
                            <label for="day7">Sun</label>

                            <button class="osf-button">Next</button>
                        </form>
                    </div>
                    <div class="osf-content " id="fitness-calendar">
                        <h3 class="osf-heading ">Choose a starting date</h3>
                        <div id="my-calendar"></div>
                        <p id="osf-invalid-date">Please select a date</p>

                        <button class="osf-button final-btn" style="margin-top: 1em;" onclick="getDateDummy();">Next</button>
                    </div>


                    <div class="osf-content personal-session-card" id="final-card">
                        <div class="personal-card-title">
                            <h1 class="prsnl-heading">Personalized Yoga session</h1>
                            <img class="prsnl-img" src="/images/payment-1.png" alt="" />
                        </div>
                        <div class="personal-session-text">
                            <ul>
                                <li>
                                    <img src="/images/accept.png" alt="" />
                                    <p>Problem/Goal: <span class="f-input" id="f-problem"></span></p>
                                </li>
                                <li>
                                    <img src="/images/accept.png" alt="" />
                                    <p>Starting Date: <span class="f-input" id="f-date"></span></p>
                                </li>
                                <li>
                                    <img src="/images/alarm-clock.png" alt="" />
                                    <p>Time: <span class="f-input" id="f-time"></span></p>
                                </li>
                                <li>
                                    <img src="/images/Duration.png" alt="" />
                                    <p>Duration: 50 mins/Session</p>
                                </li>
                                <li>
                                    <img src="/images/calendar_1.png" alt="" />
                                    <p>Preferred days : <span class="f-input" id="f-days"></span></p>
                                </li>
                                <li>
                                    <img src="/images/bio.png" alt="" />
                                    <p>Gender pref. <span class="f-input" id="f-pref"></span></p>
                                </li>
                                <li>
                                    <img src="/images/bio.png" alt="" />
                                    <p>Name: <span class="f-input" id="f-name"></span>, Age <span id="f-age"></span></p>
                                </li>
                                <li>
                                    <img src="/images/count.png" alt="" />
                                    <p><span class="f-input" id="f-sessions"><span id="f-noc"></span> Sessions</span></p>
                                </li>
                                <li>
                                    <img src="/images/customer.png" alt="" />
                                    <p>Weight: <span class="f-input" id="f-weight"></span>kgs, <span class="f-input" id="f-height"></span>inch</p>
                                </li>
                            </ul>
                            <button id="payNow" onclick="makePrivateCalendar()" class="osf-button">Pay Now</button>
                        </div>
                    </div>

                    <div class="osf-gif"><img src="/images/yoga-se-hi-hoga.gif" alt="yogasehihoga"></div>
                </div>
                <div class="progress-bar-container">
                    <div class="progress-bar"></div>
                </div>

            </section>
        </div>
        <!-- Onsite Form -->



        <!-- USP Section (START) -->
        <section id="usp" class="usp-section">
            <div class="usp-one">
                <div class="usp-one-svg"></div>
                <div class="left-item">
                    <h3 class="usp-heading"><span>One-on-One</span> Interaction</h3>
                    <p class="usp-content">
                        Practice Yoga with a personal instructor to guide you through your fitness journey. Easy to use video call format that allows maximum interaction.
                    </p>
                </div>
            </div>
            <div class="usp-two">
                <div class="usp-two-svg"></div>
                <div class="right-item">
                    <h3 class="usp-heading"><span>Flexible </span>Timings</h3>
                    <p class="usp-content">
                        There is no perfect time to work on your fitness. Schedule a session with your instructor whenever you like as per your convenience.
                    </p>
                </div>
            </div>
            <div class="usp-three">
                <div class="usp-three-svg"></div>
                <div class="left-item">
                    <h3 class="usp-heading"><span>Personal</span> Diet Coach</h3>
                    <p class="usp-content">
                        Top your fitness routine with a daily diet plan designed by an expert diet coach. Each coach will develop a personalized plan tailored to your health and lifestyle.
                    </p>
                </div>
            </div>
        </section>
        <script src="/js/usp-animation2.js"></script>
        <!-- USP Section (END) -->

        <!-- VIdeo Section -->
        <%- include('partials/video') %>
        <!-- VIdeo Section (END) -->


        <!-- Testimonials Section (END) -->
        <%- include('partials/testimonials') %>
        <!-- Testimonials(end) -->
         <!-- Fixed-Budget Section -->
        <div class="fixed-budget-con" id="fixed-budget-private-section">
            <div class="fixed-budget">
                <a href="/Group-Yoga-Classes"  ><h3>Have a fixed budget for fitness ?</h3></a>
                <p>
                Dont worry we got you covered. We bring you a variety of group
                sessions that suits your need.
                </p>
            </div>
            <div class="fix-grp-card-container">
                <% sessions.forEach(session => { %>
                        <div style="cursor: pointer;" onclick="location.href='/Group-Yoga-Classes/<%= session._id %>'" class="new-grp-card">
                            <% if(session.PARTICIPANTS>=session.LIMIT){ %>
                                <div class="booking-status-tag red-tag">Session Over booked</div>
                            <% } %>
                            <img src=<%= session.IMG %> alt="" style="width:100%; height:auto" />
                            <div class="grp-card-txt">
                            <div class="card-title">
                                <h3><%= session.SESSION_NAME %></h3>
                                <p>by <%= session.TNAME %></p>
                            </div>
                            <div class="session-time">
                                <p><%= session.TIME.substring(0, 5) + session.TIME.substring(8, 11) %></p>
                            </div>
                            </div>
                        </div>
                <% }) %>
            </div>
        </div>
        <!-- Fixed-Budget Section (End) -->

        <!-- Call-Us Section  -->
        <%- include('partials/callback') %>
        <!-- Call-Us Section (END) -->

        <!-- login div -->
        <%- include('partials/login-form') %>
        <!-- login div (END) -->

    </main>


    <script src="/js/video-component.js"></script>
    <script src="/js/pricing.js"></script>
    <script src="/js/landing.js"></script>
    <script src="/js/form.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>  
    <script>
        var socket = io();
        function payPrivate(private_session){
           const _id = '<%- _id %>';
            socket.emit('givedata', {private_session, _id});
            document.getElementById("payNow").style.pointerEvents="none";
        }

        socket.on('welcome', async (msg) => {
            console.log(msg);
            var options = {
                "key" : "rzp_test_gxIWjen8OxxznS",
                "amount" : msg.paymentData.amount,
                "currency" : msg.paymentData.currency,
                "name": "Health Highway",
                "description" : "Test Transaction",
                "order_id" : msg.paymentData.id,
                "handler" : async (res) => {
                   console.log("payment done successfully");
                   const response = await fetch("https://api.healthhighway.co.in/data/create-private/"+msg.sessionInfo._id, {
                       method : "POST",
                       timeout : 5000,
                       headers : {
                           "Content-Type" : "application/json"
                       },
                       body : JSON.stringify({...msg.sessionInfo.private_session})
                   });
                   console.log(response.status);
                   if(response.status == 200) {
                       const user = await response.json();
                       console.log(user);
                       infoModalOpenFunction("/images/sessionBooked.svg", "Hurray! Session Booked");
                   }
                   else
                   {
                       infoModalOpenFunction("/images/notLoggedInfo.svg", "Oops! Some Network issue, please try later");
                       console.log("failed called");
                   }
                   setTimeout(() => {
                    window.location.replace("/my-profile");
                   }, 2000);
                },
                "prefill" : {
                }
            }
            console.log(options);
            var rzp1 = new Razorpay(options);
            rzp1.open();
            document.getElementById("payNow").style.pointerEvents="auto";
            rzp1.on('payment.failed', function (response){
               infoModalOpenFunction("/images/notLoggedInfo.svg", "Oops! Some Network issue, please try later");
               setTimeout(() => {
                 window.location.replace("/");
               }, 2000);
           })
        })
   </script>
</body>

</html>